In [1]:
import pandas as pd
import numpy as np

In [2]:
labels=['w','x','y','z']
sample_list=[100,200,300,400]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [3]:
pd.Series(data=sample_list)

0    100
1    200
2    300
3    400
dtype: int64

In [4]:
pd.Series(data=sample_list,index=labels)

w    100
x    200
y    300
z    400
dtype: int64

In [5]:
pd.Series(sample_list,array)

1    100
2    200
3    300
4    400
dtype: int64

In [6]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

In [7]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [8]:
sports1['cricket']

1

In [9]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [10]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [12]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.092282  0.755968  0.085124  0.644756  0.284921
B  0.040881  0.782481  0.666220  0.074135  0.102467
C  0.997355  0.243507  0.773961  0.441569  0.242153
D  0.810403  0.290310  0.749641  0.121180  0.711924
E  0.398135  0.243856  0.330300  0.517944  0.454986
F  0.434063  0.518476  0.617102  0.175900  0.263242
G  0.542114  0.351832  0.637210  0.778269  0.069816
H  0.317616  0.383610  0.896306  0.738725  0.041930

In [13]:
df1["Score3"]

A    0.085124
B    0.666220
C    0.773961
D    0.749641
E    0.330300
F    0.617102
G    0.637210
H    0.896306
Name: Score3, dtype: float64

In [14]:
df1[["Score1","Score2","Score3"]]

     Score1    Score2    Score3
A  0.092282  0.755968  0.085124
B  0.040881  0.782481  0.666220
C  0.997355  0.243507  0.773961
D  0.810403  0.290310  0.749641
E  0.398135  0.243856  0.330300
F  0.434063  0.518476  0.617102
G  0.542114  0.351832  0.637210
H  0.317616  0.383610  0.896306

In [15]:
df1['Score6']=df1['Score1']+df1['Score2']
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  0.092282  0.755968  0.085124  0.644756  0.284921  0.848250
B  0.040881  0.782481  0.666220  0.074135  0.102467  0.823362
C  0.997355  0.243507  0.773961  0.441569  0.242153  1.240862
D  0.810403  0.290310  0.749641  0.121180  0.711924  1.100713
E  0.398135  0.243856  0.330300  0.517944  0.454986  0.641991
F  0.434063  0.518476  0.617102  0.175900  0.263242  0.952539
G  0.542114  0.351832  0.637210  0.778269  0.069816  0.893946
H  0.317616  0.383610  0.896306  0.738725  0.041930  0.701226

In [19]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kevin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kevin      87
4  176  Lally     123

In [20]:
df["ID"]

0    101
1    102
2    103
3    107
4    176
Name: ID, dtype: object

In [21]:
df[["ID","Name"]]

    ID   Name
0  101   John
1  102  Mercy
2  103  Akash
3  107  Kevin
4  176  Lally

In [22]:
df=df.drop("ID",axis=1)

In [23]:
df

    Name  Profit
0   John      20
1  Mercy      54
2  Akash      56
3  Kevin      87
4  Lally     123

In [24]:
df.drop(3)

    Name  Profit
0   John      20
1  Mercy      54
2  Akash      56
4  Lally     123

In [25]:
df.drop(2,axis=0)

    Name  Profit
0   John      20
1  Mercy      54
3  Kevin      87
4  Lally     123